@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Plus+Jakarta+Sans:wght@500;700&family=Red+Hat+Text:wght@700&family=Rubik:wght@400;500&family=Space+Mono:wght@700&display=swap');

body{

    margin: 0;
    box-sizing: border-box;
    min-width: 100wh;

}

